# Required API Keys
OPENAI_API_KEY=
TAVILY_API_KEY=
DAYTONA_API_KEY=

# LangSmith (for tracing and Studio)
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=deep-agent-with-long-term-memory
LANGSMITH_TRACING=true

# Cloudinary (plots hosting)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PUBLIC_ID_PREFIX=
CLOUDINARY_URL=
